    <navbar></navbar>
    <div style="padding-top: 70px;">

      <h1 id="card-title-singin"><strong>INFORMACIÓN PERSONAL</strong></h1>
      <div class="underline-title"></div>
      <div class="container">
        <form class="form-inline justify-content-center " style="padding-top: 3%;">

          <div class="row justify-content-center" style="width: 100%;">
            <div class="col text-center">
              <div class="float-center">
                <img src="../../../assets/Pruebas/persona-e1533759204552.jpg" alt="fg">
                <div style="padding-top: 2%;"><button id="btn-photo" href=""><strong>Cambiar mi foto</strong></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center" style="padding-top: 5%;  width: 100%;">
            <div class="col">
              <div class="centered">
                <strong>Nombre</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Introduce tu nombre">
                <div class="form-border"></div>
              </div>
            </div>
            <div class="col">
              <div class="centered">
                <strong>Apellidos</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Introduce tus apellidos">
                <div class="form-border"></div>
              </div>
            </div>
          </div>


          <div class="row text-center" style="padding-top: 5%; width: 100%; ">
            <div class="col">
              <div>
                <div class="centered">
                  <strong>Contraseña</strong><br>
                  <input type="password" class="form-content mr-sm-2" aria-describedby="emailHelp"
                    placeholder="*********" disabled>

                  <div class="form-border"></div>

                </div>
                <button id="btn-pass" type="submit" class="btn btn-light"><strong>Cambiar
                    contraseña</strong></button>
              </div>
            </div>
            <div class="col">
              <div class="centered">
                <strong>Edad</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Introduce tu edad">
                <div class="form-border"></div>
              </div>
            </div>
          </div>



          <div class="row text-center" style="padding-top: 5%; width: 100%;">
            <div class="col">
              <div class="centered">
                <strong>Número de teléfono</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Teléfono de contacto">
                <div class="form-border"></div>

              </div>
            </div>

            <div class="col">
              <div class="centered">

                <strong>Correo electrónico</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Introduce tu correo electrónico">
                <div class="form-border"></div>

              </div>
            </div>
          </div>
        </form>


        <!--DIRECCIÓN DE ENVÍO-->

        <div class="underline-title2" style="width: 100%"></div>

        <h1 class="pt-5" id="card-title-singin"><strong>DIRECCIÓN DE ENVÍO</strong></h1>

        <div class="underline-title"></div>

        <form class="form-inline justify-content-center" style="padding: 3%;">


          <div class="row text-center" style="padding-top: 5%; width: 100%;">
            <div class="col">
              <div class="centered">
                <strong>Localidad</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Calle, avenida, camino...">
                <div class="form-border"></div>
              </div>
            </div>

            <div class="col">
              <div class="centered">
                <strong>Nombre de la vía</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Ej: Calle San Isidro">
                <div class="form-border"></div>
              </div>
            </div>
          </div>



          <div class="row text-center" style="padding-top: 5%; width: 100%;">
            <div class="col">
              <div class="centered">
                <strong>Número de portal</strong><br>
                <input type="text" class="form-content mr-sm-3" aria-describedby="emailHelp"
                  placeholder="Ej: Portal 12">
                <div class="form-border"></div>
              </div>
            </div>

            <div class="col">
              <div class="centered">
                <strong>Número de escalera</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Ej: Escalera 2">
                <div class="form-border"></div>
              </div>
            </div>
          </div>




          <div class="row text-center" style="padding-top: 5%; width: 100%;">
            <div class="col">
              <div class="centered">
                <strong>Número de puerta</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Ej: Puerta 7">
                <div class="form-border"></div>
              </div>
            </div>

            <div class="col">
              <div class="centered">
                <strong>Código postal</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Ej: 12100">
                <div class="form-border"></div>
              </div>
            </div>
          </div>

          <div class="underline-title2" style="width: 100%"></div>

        </form>



        <!--DATOS BANCARIOS-->
        <h1 id="card-title-singin" class="pt-5"><strong>DATOS BANCARIOS</strong></h1>
        <div class="underline-title"></div>

        <form class="form-inline mr-sm-3 text-center" style="padding: 3%">



          <div class="row text-center" style="padding-top: 5%; width: 100%;">
            <div class="col">
              <div class="centered">
                <strong>Titular de la tarjeta</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Ej: Pancracio Albiol Campos">
                <div class="form-border"></div>
              </div>
            </div>

            <div class="col">
              <div class="centered">
                <strong>Número de tarjeta</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp"
                  placeholder="Ej: 4586123514781595">
                <div class="form-border"></div>
              </div>
            </div>
          </div>



          <div class="row text-center" style="padding-top: 5%; width: 100%;">
              <div class="col">
                <div class="centered">
                <strong>CVV</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Ej: 561">
                <div class="form-border"></div>
              </div>
            </div>

            <div class="col">
              <div class="centered">
                <strong>Validez hasta</strong><br>
                <input type="email" class="form-content" aria-describedby="emailHelp" placeholder="Ej: 03/25">
                <div class="form-border"></div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
