

<h1 class="text-center"><strong>Pantalones</strong></h1>
<div class="row">
  <div class="col-10 text-right ">

    <div class="dropdown">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ir a
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <a class="dropdown-item" href="/tienda#pantalones">Pantalones</a>
        <a class="dropdown-item" href="/tienda#sudaderas">Another action</a>
        
      </div>
    </div>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row" style="padding-top: 20px;">
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="../../../assets/Pantalones/Ej1.jpg" alt="">
        <div class="card-body">
            <h4>Pantalón hombre</h4>
            <p class="price">19.99€</p>
          <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group">
                <p><button style="border-radius: 2em;
                    box-sizing: border-box;
                    padding:0.3em 1.2em;
                    margin:0 0.1em 0.1em 0; 
                    border:0.16em">Añadir al carrito</button></p>
            </div>
           
          </div>
        </div>
      </div>
    </div>
</div>
