<div class="row mr-2" *ngIf="this.authService.islogged == false">
  <div>
    <a class="btn btn-light btn-sm mr-sm-2" id="btn-entrar" href="#myModal" type="submit" data-toggle="modal"
      data-target="#myModal"><strong>Entrar</strong></a>
  </div>
  <div><a href="/registro"><button class="btn btn-outline-success btn-sm" type="submit"
        id="submit-bt">Registrarse</button></a></div>
</div>
<div>

  <ul class="navbar-nav mr-5">
    <!-- <li class="nav-item test" align-content="right" *ngIf="this.authService.islogged == true"></li> -->
    <li class="nav-item dropdown" align-content="left" *ngIf="this.authService.islogged == true">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Mi espacio
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Mis rutinas</a>
        <a class="dropdown-item" href="#">Mis dietas</a>
        <a class="dropdown-item" href="#">Recompensas</a>
        <a class="dropdown-item" href="/datospersonales">Configuración</a>

        <div class="dropdown-divider"></div>

        <a style="color: red;" class="dropdown-item" (click)="authService.logout()"><strong>Cerrar sesión</strong></a>

      </div>
    </li>
  </ul>
</div>