<div class="group-container"></div>

<div class="container" style="padding-top: 10vh;">

<h1 class="text-center" id="card-title-singin" style="padding-bottom: 0;"><strong>CAMISETAS</strong></h1>
<div class="underline-title"></div>

<div class="row text-center" style="padding-bottom: 30px; padding-top: 1%;">
  <div class="col">
    <div class="card">
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row">
              <div class="col">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>

                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
      <div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row">
              <div class="col">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" >
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row">
              <div class="col">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
      <div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" >
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row ">
              <div class="col text-center">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" >
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row">
              <div class="col">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
      <div>

      </div>
    </div>
  </div>




  <div class="col">
    <div class="card" >
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row ">
              <div class="col">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
      <div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div><img id="img-size" class="card-img-top" src="../../../assets/Camiseta/Ej2.jpg" alt="Card image cap"></div>
      <div class="card-body justify-content-center">
        <h5 class="card-text"><strong>Camiseta de mujer</strong></h5>
        <p style="font-size: 14px; color: grey;">19.99€</p>
        <div class="form-check-inline">
          <div class="mb-2 justify-content-center" id="s">
            <div class="row ">
              <div class="col">
                <span>Talla:  </span>
                <select name="Talla" id="">
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn"><strong>Añadir al carrito</strong></button>
      </div>
    </div>
  </div>
</div>
</div>