.container {
  width: 69vw;
  float: right;
}

.card {
  border: none;
  width: 21vh;
  text-align: center;
  font-family: arial;

}

span {
  font-size: 1.4em;
}

@media(max-width: 412px) {
  .card {
    border: none;
    width: 12vh;
    margin-left: 3.5vh;
    text-align: center;
    font-family: arial;
  }

  h5 {
    font-size: 1em;
  }
}



@media(max-width: 350px) {
  .card {
    border: none;
    width: 17vh;
    margin-left: 5vh;
    text-align: center;
    font-family: arial;
  }

  h5 {
    font-size: 1em;
  }
}

select {
  border-radius: 10px;
  border: .1px solid rgb(230, 229, 229);
}



.col {
  padding: .5vh;
  margin: .2vh;
  width: 21vh;
}

@media(max-width: 420px) {
  .col {
    padding: .2vh;
    margin: .2vh;
    width: 15vh;
    float: center;
  }
}
.price {
  color: grey;
  font-size: 22px;
}


#img-size {
  width: 75%;
  height: 40%;
}

#s {
  font-size: 8px;
}

#btn {
  font-size: 9px;
  border-radius: 50px;
  width: 65%;
  transition: all .5s;
  background-color: rgba(41, 4, 253, 0.884);
  color: white;
}

#btn:hover {
  background-color: rgba(4, 130, 233, 0.829);
  color: white;
}


.form-content {
  background: none;
  border: none;
  outline: none;
  padding-top: 14px;
}

#card-title-singin {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 12px;
  padding-top: 13px;
  text-align: center;
}

@media(max-width: 600px) {
  #card-title-singin {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 1px;
    padding-bottom: 12px;
    padding-top: 13px;
    text-align: center;
    font-size: 2em;
  }
}

#submit-btn {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 25.3px;
  margin: 0 auto;
  margin-top: 20px;
  transition: 0.25s;
  width: 15vh;
  align-items: center;
  font-size: .8em;
}
@media(max-width: 420px) {
  #submit-btn {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 25.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 10vh;
    align-items: center;
    font-size: .7em;
  }
}

#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}

.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: 1.1rem auto 0 auto;
  width: 100%;
}

.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100px;
}


.centered {
  margin: auto;
  text-align: left !important;
  width: 60%;
  padding-bottom: 15px;
}