<navbar></navbar>

<div style="padding-top: 8vh;">
  <div class="container">
    <h1 id="card-title-singin"><strong>SEGUIMIENTO CORPORAL</strong></h1>
    <div class="underline-title mb-5"></div>
    <div class="row m-4" id="registro">
      <div class="col m-3">

        <div class="row text-center">
          <div class="col">
            <div class="centered1">
              <strong>Fecha</strong><br>
              <input type="date" class="form-content" aria-describedby="emailHelp">
              <div class="form-border"></div>
            </div>
          </div>
          <div class="col">
            <div class="centered1">
              <strong>Peso</strong><br>
              <input type="number" class="form-content" aria-describedby="emailHelp" placeholder="Peso en kgs">
              <div class="form-border"></div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
            <div class="centered">
              <strong>Cintura</strong><br>
              <input id="mediciones" type="number" class="form-content" aria-describedby="emailHelp"
                placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>
          <div class="col">
            <div class="centered">
              <strong>Torso</strong><br>
              <input type="number" class="form-content" aria-describedby="emailHelp" placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>
          <div class="col">
            <div class="centered">
              <strong>Hombros</strong><br>
              <input type="number" class="form-content" aria-describedby="emailHelp" placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>

          <div class="col">
            <div class="centered">
              <strong>Pierna</strong><br>
              <input type="number" class="form-content" aria-describedby="emailHelp" placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>

          <div class="col">
            <div class="centered">
              <strong>Brazo</strong><br>
              <input type="number" class="form-content" aria-describedby="emailHelp" placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <button id="submit-btn">Guardar registro</button>
          </div>

        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
</div>

<app-footer></app-footer>