<navbar></navbar>

<div style="padding-top: 9vh;">
  <div class="container">

    <h1 id="card-title-singin" *ngIf="vistaAnadirRegistro == true"><strong>SEGUIMIENTO CORPORAL</strong></h1>
    <h1 id="card-title-singin" *ngIf="vistaAnadirRegistro == false"><strong>TODOS MIS REGISTROS</strong></h1>

    <div class="underline-title mb-2"></div>
    <div class="row m-4" id="registro" *ngIf="vistaAnadirRegistro == true">
      <div class="col m-3">


        <div class="row text-center" style="margin-bottom: 5vh;">

        </div>


        <div class="row text-center">
          <div class="col">
            <div class="centered1">
              <strong>Fecha</strong><br>
              <input type="date" #inputFecha class="form-content" aria-describedby="emailHelp">
              <div class="form-border"></div>
            </div>
          </div>
          <div class="col">
            <div class="centered1">
              <strong>Peso</strong><br>
              <input type="number" #inputPeso class="form-content" aria-describedby="emailHelp"
                placeholder="Peso en kgs">
              <div class="form-border"></div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
            <div class="centered">
              <strong>Cintura</strong><br>
              <input id="mediciones" #inputCintura type="number" class="form-content" aria-describedby="emailHelp"
                placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>
          <div class="col">
            <div class="centered">
              <strong>Torso</strong><br>
              <input type="number" #inputTorso class="form-content" aria-describedby="emailHelp"
                placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>
          <div class="col">
            <div class="centered">
              <strong>Hombros</strong><br>
              <input type="number" #inputHombros class="form-content" aria-describedby="emailHelp"
                placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>

          <div class="col">
            <div class="centered">
              <strong>Pierna</strong><br>
              <input type="number" #inputPierna class="form-content" aria-describedby="emailHelp"
                placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>

          <div class="col">
            <div class="centered">
              <strong>Brazo</strong><br>
              <input type="number" #inputBrazo class="form-content" aria-describedby="emailHelp"
                placeholder="En centímetros">
              <div class="form-border"></div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">

            <button id="submit-btn" (click)="saveRegister()">Guardar registro</button>

            <button class="ml-5" *ngIf="vistaAnadirRegistro == true" (click)="cambioVistaTodosRegistros()"
              id="verRegistros">Todos los registros</button>

            <button class="ml-5" *ngIf="vistaTodosRegistros == true" (click)="cambioVistaNuevoRegistro()"
              id="verRegistros">Añadir registro</button>

          </div>

        </div>

        <div class="row justify-content-center m-3">
          <div class="col text-center">
            <div class="myAlert" *ngIf="this.saved">
              ¡Registro guardado correctamente!
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="row m-4 " *ngIf="vistaAnadirRegistro == false">
      <div class="col m-3">

        <div class="text-center">
          <button class="btnPage" [class.btnPageActive]="currentPage == n" *ngFor="let n of createRange(nroPags)" (click)="changePage(n)"> {{n}} </button>
        </div>
        <div class="text-center" *ngIf="this.registros.length == 0"><h5 style="color: rgba(211, 211, 211, 0.815);"> No hay registros todavía </h5></div>
        <ng-container *ngFor="let registro of this.registros; let i = index">
          <div class="row mt-3 todosLosRegistros" *ngIf="checkRegisterInPage(i)">

            <div id="iconoBorrar" (click)="deleteRegister(registro._id)">
              <fa-icon [icon]="iconoBasura"></fa-icon>
            </div>

            <div class="col ml-3">

              <div class="row text-center mb-4">
                <div class="col">

                  <h5 style="font-weight: normal;">{{this.parseDate(registro.fecha)}}</h5>

                </div>
              </div>

              <div class="row text-center">
                <div class="col text-center">

                  <p><strong> Peso </strong></p>
                  {{registro.peso}}

                </div>
                <div class="col text-center">

                  <p><strong> Cintura </strong></p>
                  {{registro.cintura}}


                </div>
                <div class="col text-center">

                  <p><strong> Torso </strong></p>
                  {{registro.torso}}


                </div>
                <div class="col text-center">

                  <p><strong> Hombros </strong></p>
                  {{registro.hombros}}


                </div>
                <div class="col text-center">

                  <p><strong> Pierna </strong></p>
                  {{registro.pierna}}


                </div>
                <div class="col text-center">

                  <p><strong> Brazo </strong></p>
                  {{registro.brazo}}

                </div>
              </div>
            </div>
          </div>
        </ng-container>



        <div class="row text-center mb-5">
          <div class="col">

            <button class="ml-5" *ngIf="vistaTodosRegistros == true" (click)="cambioVistaNuevoRegistro()"
              id="verRegistros" style="margin-left: 0 !important">Añadir registro</button>

          </div>

        </div>
      </div>

      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [dataLabels]="chartOptions.dataLabels"
          [legend]="chartOptions.legend"
          [markers]="chartOptions.markers"
          [grid]="chartOptions.grid"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>

    <div class="dropdown-divider"></div>
  </div>
</div>

<app-footer></app-footer>