input {
    width: 160px;
}
select {
    height: 28px;
    border-radius: 6%;
}

.container {
    
    position: relative;
    text-align: center;
}
button {
    border-radius: 15px;
}
#inputs-sizes {
    width: 100px;
    
}
#btn-saltar:hover {
    border-color: lightgrey;
}
.form-border {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: none;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 25.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 110px;
    align-items: center;
    
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #24c64f;
  }


  #back-btn {
    background: -webkit-linear-gradient(right, #f7d89f, #fdc221);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #fdc221;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 25.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 110px;
    align-items: center;
    
  }
  #back-btn:hover {
    box-shadow: 0px 1px 18px #fdc221;
  }


  .underline-title {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: 1.1rem auto 0 auto;
    width: 100%;
  }