<navbar></navbar>


<div class="container pt-5">

  <div class="p-5">
    <div class="row justify-content-center" style="padding-top: 6%">
      <div class="col">
        <h1 id="fuente-titulo">A&X PASS</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="underline-title"></div>
      </div>
    </div>
  </div>


  <div class="row p-5">
    <div class="col ">
      <div class="flip">
        <div class="front" id="basic">
          <h1 class="text-shadow pt-2">BASIC PASS</h1>

          <p id="front-text" style="font-size: 16px; padding-top: 15%; color: #0a0808b6;">
            Al adquirir este pase podrás olvidarte de esos molestos gastos de envío que se te
            presentan al pagaren todos los pedidos que realices en la tienda.
            <br> También disfrutarás de otros privilegios exclusivos.
          </p>
        </div>
        <div class="back">
          <h2 class="text-center pt-3">PRIVILEGIOS DEL PASE:</h2>
          <p id="front-text" style="font-size: 16px; padding-top: 5%;">
            + Envíos gratuitos en todos tus pedidos
          </p>
          <p id="front-text" style="font-size: 16px">
            + Descuentos en algunas prendas de la tienda
          </p>
          <div style="bottom: 0; left: 35%; height: 100px; position: absolute;">
            <div class="row text-center">
              <div class="col justify-content-center">
                <div class="row justify-content-center">
                  <p class="" id="front-text" style=" font-size: 18px; color: whitesmoke;">5,99€<span
                      style="font-size: 10px; color: whitesmoke;">/mes</span></p>

                </div>
                <button id="submit-btn" style="margin-bottom: -20px;">Adquirir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="flip">
        <div class="front" id="advanced">
          <h1 class="text-shadow pt-2">ADVANCED PASS</h1>
          <p id="front-text" style="font-size: 16px; padding-top: 15%; color: #0a0808b6;">
            Ahora no sólo tendrás todos los privilegios del BASIC PASS, sino que
            además podrás disfrutar de dietas y rutinas prediseñadas por nuestros expertos.
            <br> También disfrutarás de otros privilegios exclusivos.
          </p>
        </div>
        <div class="back justify-content-center">

          <h2 class="text-center pt-3">PRIVILEGIOS DEL PASE:</h2>
          <div class="overflow-container">
            <div class="overflow-content">
              <p id="front-text" style="font-size: 14px; padding-top: 5%;">
                + Envíos gratuitos en todos tus pedidos
              </p>
              <p id="front-text" style="font-size: 14px">
                + Descuentos en algunas prendas de la tienda
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Decenas de dietas prediseñadas por nuestros expertos
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Decenas de rutinas en vídeo de diferentes deportes y objetivos prediseñadas por nuestros expertos
              </p>

            </div>
          </div>
          <div class="pt-1"
            style="bottom: 0; left: 35%; height: 90px; width: 100px;  position: absolute; background: #313131;">
            <div class="row text-center">
              <div class="col justify-content-center">
                <div class="row justify-content-center">
                  <p class="" id="front-text" style=" font-size: 18px; color: whitesmoke;">19,99€<span
                      style="font-size: 10px; color: whitesmoke;">/mes</span></p>

                </div>
                <button id="submit-btn" style="margin-bottom: -20px;">Adquirir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="flip">
        <div class="front" id="pro">
          <h1 class="text-shadow pt-2">PRO PASS</h1>
          <p id="front-text" style="font-size: 16px; padding-top: 15%; color: #0a0808b6;">
            El pase definitivo con el que podrás disfrutar de dietas y
            rutinas completamente personalizadas para ti por nuestros expertos a un precio mucho menor que en otro
            sitio.
            <br> También disfrutarás de las ventajas del ADVANCED PASS y otros privilegios exclusivos.
          </p>
        </div>
        <div class="back">
          <h2 class="text-center pt-3">PRIVILEGIOS DEL PASE:</h2>
          <div class="overflow-container">
            <div class="overflow-content">
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Dietas completamente diseñadas por un nutricionista para ti
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Rutinas de entrenamiento diseñadas para adaptarse a tu nivel hechas por un experto
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Seguimiento 2 días a la semana de tu dieta, avances y rutinas
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Rutinas de entrenamiento diseñadas para adaptarse a tu nivel
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Decenas de dietas prediseñadas por nuestros expertos
              </p>
              <p id="front-text" style="font-size: 14px; line-height: 130%;">
                + Decenas de rutinas en vídeo de diferentes deportes y objetivos prediseñadas por nuestros expertos
              </p>
              <p id="front-text" style="font-size: 14px;">
                + Envíos gratuitos en todos tus pedidos
              </p>
              <p id="front-text" style="font-size: 14px">
                + Descuentos en algunas prendas de la tienda
              </p>
            </div>
          </div>
          <div class="pt-1" style="bottom: 0; left: 35%; height: 90px; width: 100px;  position: absolute; background: #313131;">
            <div class="row text-center">
              <div class="col justify-content-center">
                <div class="row justify-content-center">
                  <p class="" id="front-text" style=" font-size: 18px; color: whitesmoke;">54,99€<span
                      style="font-size: 10px; color: whitesmoke;">/mes</span></p>

                </div>
                <button id="submit-btn">Adquirir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>





</div>
<app-footer></app-footer>