

.centered {
    margin: auto;
    text-align: left !important;
    width: 60%;
    padding-bottom: 15px;
  }
  
  .centered1 {
      margin: auto;
      text-align: left !important;
      width: 20%;
      padding-bottom: 25px;
    }
  
  @media(max-width: 600px) {
    .centered1 {
      margin: auto;
      text-align: left !important;
      width: 60%;
      padding-bottom: 25px;
    }
  }
  
  .myAlert{
    color: #24c64f;
    background: none;
    border: none;
  }
  
  input #mediciones {
      width: 110px !important;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 1px;
    width: 100px;
  }
  
  .form-content {
    background: none;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  
  #card-title-singin {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 12px;
    padding-top: 13px;
    text-align: center;
  }
  
  
  #submit-btn {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    height: 25.3px;
    width: 160px;
    align-items: center;
  
  }
  
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #24c64f;
  }
  
  .underline-title {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: 1.1rem auto 0 auto;
    width: 100%;
  }
  
  
  #verRegistros{
    background: white;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #fabc49;
    cursor: pointer;
    color: black;
    font-family: "Raleway SemiBold", sans-serif;
    height: 25.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 165px;
    align-items: center;
    font-size: 1em;
  }
  
  #verRegistros:hover {
    box-shadow: 0px 1px 18px #fabc49;
  }
  
  
  
  .todosLosRegistros:nth-child(even){
    background: rgba(170, 243, 186, 0.315);
    border-radius: 15px;
    padding: 1%;
    height: auto;
  }
  .todosLosRegistros:nth-child(odd){
    background: rgba(193, 245, 205, 0.192);
    border-radius: 15px;
    padding: 1%;
    height: auto;
  }
  
  .todosLosRegistros p{
    line-height: 3px;
  }
  
  #iconoBorrar{
    position: absolute;
    color: red;
    right: 15px;
    z-index: 10;
  }
  
  .btnPage{
    background: white;
    border: none;
  }
  .btnPageActive{
    border-bottom: 1.3px solid rgba(0, 128, 0, 0.466);
  }
  
  .modal{
    z-index: 100;
  }

