
<div class="footer">
  <div class="dropdown-divider"></div>
<footer class="container py-3">
    <div class="row text-center" style="padding-top: 1%;" >
      <div class="col-12 col-md" >
        <small class="mr-sm-4"></small><img class="mr-sm-4" src="../../../assets/Icons/LogoModAX.jpg" alt="" style="align-self: center;">                    
        <small class="d-block mb-3 text-muted" style="align-content: left;">&copy; 2021</small>
      </div>
      <div class="col-6 col-md">
        <h3>Contacto</h3>
        <ul class="list-unstyled text-small">
          <li> <small class="mr-sm-3"></small>
            <a class="mr-sm-2" href="mailto:aless17182@gmail.com"><fa-icon [icon]="faGmail"></fa-icon></a>
            <a class="mr-sm-2" href="https://www.twitter.com"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a class="mr-sm-2" href="https://www.twitter.com"><fa-icon [icon]="faFacebook"></fa-icon></a>  
            <a class="mr-sm-2" href="https://www.instagram.com"><fa-icon [icon]="faInstagram"></fa-icon></a>  
        </li>
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h3>Desarrollo</h3>
        <ul class="list-unstyled text-small">
          <li><p>Application developed by: <br><a class="text-muted" href="https://alesscoder.me"><strong>www.alesscoder.me</strong></a></p></li>
          <li></li> 
        </ul>
      </div>
    </div>
  </footer>
</div>