a {
    text-decoration: none !important;
    color: black;
}

.footer{

    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    clear: both;
    position: static;
    height: 110px;
}